<div class="cadastro">
<%= form_for(@lancamento) do |l| %>
	<% if @periodo.count == 0 %>
		<%=  %>
	<% else %>
		<%= hidden_field_tag :periodo, @periodo.first.id %>
	<% end %>
	<input type="hidden" id="despesa_status_lancamento_id" name="despesa[status_lancamento_id]" value="1" >
	Tipo de Lançamento:
	<br>
	<%= l.collection_select :tipo_lancamento_id, @tipo_lancamentos, :id, :dsc_tipo_lancamento, {:include_blank => true}, :required => true %>
	<br>
	Tipo de Despesa:
	<br>
	<%= l.collection_select :tipo_despesa_id, @tipo_despesas, :id, :dsc_tipo_despesa, {:include_blank => true}, :required => true %>
	<br>
	Forma de Pagamento:
	<br>
	<%= l.collection_select :forma_pagamento_id, @forma_pagamentos, :id, :dsc_forma_pagamento, {:include_blank => true}, :required => true %>
	<br>
	Centro de Custo:
	<br>
	<%= l.collection_select :centro_custo_id, @centro_custos, :id, :dsc_centro_custo, {:include_blank => true}, :required => true %>
	<br>
	Data Doc.(NF):
	<br>
	<%= l.text_field :dt_documento, :size => "25", :required => true %>
	<br>
	Nº Doc.(NF):
	<br>
	<%= l.text_field :nro_documento, :required => true %>
	<br>
	Valor Doc.(NF):
	<br>
	<%= l.text_field :vlr_documento, :required => true %>
	<br>
	Quantidade:
	<br>
	<%= l.text_field :nro_quantidade, :required => true, :onkeypress => "return FormatarNumero(event);" %></td>
	<br>
	Valor do reembolso:
	<br>
	<%= l.text_field :vlr_despesa %>
	<br>
	Descrição:
	<br>
	<%= l.text_area :dsc_despesa, :rows => "10", :cols => "100", :required => true %>
	<br>
	<%= l.submit "Salvar", :class => "buscar", :onclick => "return verificaData();", :style => "width: 200px;" %><%= link_to((button_to_function "Cancelar", " history.go(-1)",:class => "buscar", :style => "width: 200px;"), :back) %>
<% end %>
<% if @periodo.first.dt_inicio_lancamento > Time.now or @periodo.first.dt_fim_lancamento <= Time.now and params[:commit] != "editar" %>
	<script>
		desabilitaForm();
	</script>
<% end %>
</div>